.contact__list {
    margin: 0 0 30px;
    padding: 0;
}

.contact__item {
    list-style: none;
    border-top: 1px solid rgba(255,255,255, 0.05);
}


.contact__link {
    display: flex;
    padding: 10px 0;
    text-decoration: none;
    color: $footer-link;
    transition: color 0.3s;
    font-size: 13px;
    line-height: 1.7;

    svg {
        margin-right: 10px;
    }

    &:hover {
        color: $white;

        .contact__link-icon {
            fill: $white;
            opacity: 1;
        }

    }

    &-icon {
        fill: $social-icon;
        opacity: 0.6;
        transition: all 0.3s;
    }
}


