.form {
    display: flex;
    margin-bottom: 8px;
    
    &__input {
        border: none;
        background: white;
        font-size: 12px;
        line-height: 1.2;
        padding: 10px 20px;
        color: $footer-link;

        &--email {
            margin-right: 8px;
            width: 212px;
        }

        &--submit {
            background-color: $active-color;
            background-image: url(../assets/img/check.svg);
            background-position: center;
            background-size: 16px;
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }

  
}