.news {
    margin-bottom: 30px;

    &__short-list {
        padding: 0;
        margin: 0;
    }

    &__item {
        list-style: none;
        display: flex;
        align-items: flex-start;
        margin-bottom: 47px;
    }

    &__post-text {
        font-family: 'muli';
        font-size: 13px;
        line-height: 1.5;
        color: $white;
        margin-bottom: 7px;
    }

    &__post-date {
        font-size: 10px;
        color: $menu-font-color;
    }

    &__img {
        display: block;
    }

    &__img-wrap {
        margin-right: 10px;
    }

}